.SlideIn {
    position:relative;
}


.visible {
    transition:600ms;
    opacity: 1;
    transform:translateX(0px);
}

.notVisible {
    transition:200ms;
    opacity: 0;
    transform:translateX(-25px);
}