.overlay, .bg, .drawerOverlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    color:white;
    opacity:1
}

.removed {
    transition:200ms;
    opacity:0;
    visibility:hidden;
}

.contentHolder {
    width:100%;
    height:calc(100vh - 60px);
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrowLeft {
    position: absolute;
    top:46%;
    left:-15px;
    opacity:0;
    width: 50px;
    animation-name: arrowOpacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes arrowOpacity {
    0%   {opacity: 0.05;}
    50% {opacity: 0.2;}
    100% {opacity: 0.05;}
}

/* overlay ************************************ */

.overlay .bg {
    background-color: black;
    opacity:0.5;
}


/* DrawerOverlay ************************************ */

.drawerOverlay {
    z-index:1200;
}

.drawerOverlay .contentHolder {
    align-items: flex-end;
    padding: 10px 60px 0 60px;
    box-sizing: border-box;
}

.drawerOverlay .bg {
    background-color: black;
    opacity:0.8;
}

