.ScaleIn {
    transition:300ms;
    position:relative;
    transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}


.visible {
    opacity: 1;
    transform: scale(1);
}

.notVisible {
    opacity: 0;
    transform: scale(0.6);
}