.skCubeGrid {
    width: 100px;
    height: 100px;
    margin: 100px auto;
  }
  
  .skCubeGrid .skCube {
    width: 33%;
    height: 33%;
    float: left;
    -webkit-animation: skCubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: skCubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .skCubeGrid .skCube1 {
    background-color: #f16413;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .skCubeGrid .skCube2 {
    background-color: #ce463d;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .skCubeGrid .skCube3 {
    background-color: #92217e;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .skCubeGrid .skCube4 {
    background-color: #d84634;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .skCubeGrid .skCube5 {
    background-color: #b02261;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .skCubeGrid .skCube6 {
    background-color: #630ea6;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .skCubeGrid .skCube7 {
    background-color: #ac225c;
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .skCubeGrid .skCube8 {
    background-color: #80137c;
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .skCubeGrid .skCube9 {
    background-color: #380bc0;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes skCubeGridScaleDelay {
    1%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0.01, 0.01, 1);
              transform: scale3D(0.01, 0.01, 1); 
    }
  }
  
  @keyframes skCubeGridScaleDelay {
    1%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0.01, 0.01, 1);
              transform: scale3D(0.01, 0.01, 1);
    } 
  }