.footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    height:160px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.footerItem {
    display: flex;
    align-items: center;
    align-content: space-between;
}

.footerIcon {
    width: 30px;
    margin-right:30px;
}