.centerList {
    left:0%;
    padding-top:0px !important;
}

.ListItem {
    padding-top: 0px;
    padding-bottom: 6px;
    align-items: flex-start;
}

.listItemText {
    padding: 0;
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.46429em;
    opacity: 0.8
    }

.ListItemIcon {
    margin-left: 20px;
    width: 15px;
    height: 15px;
    align-self: flex-start;

}

